In [1]:
#dependency
import pandas as pd

In [2]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", 
                "Hernandez High School","Griffin High School","Wilson High School", 
                "Cabrera High School", "Bailey High School", "Holden High School", 
                "Pena High School", "Wright High School","Rodriguez High School", 
                "Johnson High School", "Ford High School", "Thomas High School"]

In [3]:
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [4]:
for school in school_series:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [5]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [6]:
high_school_dicts

[{'School ID': 0, 'school_name': 'Huang High    School', 'type': 'District'},
 {'School ID': 1, 'school_name': 'Figueroa High School', 'type': 'District'},
 {'School ID': 2, 'school_name': 'Shelton High School', 'type': 'Charter'},
 {'School ID': 3, 'school_name': 'Hernandez High School', 'type': 'District'},
 {'School ID': 4, 'school_name': 'Griffin High School', 'type': 'Charter'}]

In [7]:
df_schools=pd.DataFrame(high_school_dicts)
df_schools

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [8]:
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [9]:
df_schools=pd.DataFrame()

In [10]:
df_schools["School ID"]=school_id
df_schools["School Name"]=school_name
df_schools["Type"]=type_of_school

df_schools

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [11]:
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}
high_schools_dict

{'School ID': [0, 1, 2, 3, 4],
 'school_name': ['Huang High School',
  'Figueroa High School',
  'Shelton High School',
  'Hernandez High School',
  'Griffin High School'],
 'type': ['District', 'District', 'Charter', 'District', 'Charter']}

In [17]:
df_schools=pd.DataFrame()
df_schools=pd.DataFrame(high_schools_dict)

df_schools

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [18]:
df_schools.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [19]:
df_schools.index

RangeIndex(start=0, stop=5, step=1)

In [21]:
df_schools.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [24]:
df_schools["New Column"]=["good", "good", "good", "good", "bad"]
df_schools

   School ID            school_name      type New Column
0          0      Huang High School  District       good
1          1   Figueroa High School  District       good
2          2    Shelton High School   Charter       good
3          3  Hernandez High School  District       good
4          4    Griffin High School   Charter        bad

In [ ]:
df_schools.index